body {
    font-family: Arial, sans-serif;
}

h2 {
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    width: 100%;
    margin: 0px auto;
    color: #263244;
    font-weight: 600;
    padding-top: 105px;
}

nav {
    width: 100%;
    height: 60px;
    background: #344051;

}

.logo {
    color: #fff;
    font-size: 30px;
    line-height: 60px;
    padding-left: 390px;
    float: left
}

.menu {
    float: left;
    padding-left: 430px;

}

.menu li {
    float: left;
    font-size: 16px;
    color: white;
    line-height: 60px;
    margin-right: 40px;
    text-transform: uppercase;

}

.main {
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}

.menu li a:visited {
    color: white;
}

.title__container {
    float: left;
    margin: 404px 0px 0px 432px;
    color: #79818d;
    text-align: center;

}

.title__container h1 {
    font-size: 60px;
    font-weight: bold;
    color: #2c384a;

}

.title__container h4 {
    margin-top: 30px;
    font-size: 22px;
    color: #79818d;
}

.title__container input {
    width: 96px;
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    cursor: pointer;
    margin: 50px 14px 0px 14px;
}

.about_me {
    height: 720px;
}

.about_me_item {
    width: 729px;
    margin: 0px auto;
}


/* .about_me>h2 {
    text-align: center;
    font-size: 22px;
    width: 130px;
    margin: 105px auto 0px auto;
    color: #263244;
    font-weight: 600;
} */

body hr {
    display: block;
    width: 70px;
    height: 4px;
    border: none;
    background: #d17700;
    margin: 30px auto 0px auto;
}

.about_me_item img {
    display: block;
    margin: 65px auto 0px auto;
}


.about_me_item .aboutText1 {
    margin-top: 20px;
    margin-bottom: 40px;
    color: #6d7682;
    height: 38px;
}

.about_me_item .aboutText2 {
    margin-bottom: 38px;
    color: #6d7682;
}

.about_me_item input {
    display: block;
    font-size: 13px;
    margin: 30px auto 0px auto;
    width: 157px;
    height: 34px;
    color: #6f707e;
    text-align: center;
    border: 2px solid;
    border-color: #6f707e;
    border-radius: 5px;
    cursor: pointer;
    background: url(../img/znak1.jpg) repeat;
}

.skills {
    background: url(/../img/bgskills.png);
    width: auto;
    height: 522px;
}



.skillsContainer {
    width: 1090px;
    height: 360px;
    margin: 0px auto;
}

.clear {
    clear: left;
}

.skills_item {
    float: left;
    width: 220px;
    height: 200px;
    text-align: center;
    margin-left: 40px;


}

.skills_item h3 {
    display: block;
    text-align: center;
    font-weight: 600;
    color: #cf7600;
    margin-top: 30px;
}

.skills_item>p {
    display: block;
    color: #6d7682;
    margin-top: 13px;
}

.skillswhat {
    text-align: center;
    margin: 100px auto 0px auto;
    width: 1090px;
    height: 200px;
    border: 1px solid;

}

.skills_item img {

    display: block;
    margin: 0px auto;
    width: auto;
    height: 50px;
    margin-top: 200px;
}


.case_container {
    width: auto;
    text-align: center;
}

/* .case_container h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    width: 130px;
    margin: 105px auto 0px auto;
    color: #263244;
    font-weight: 600
} */

.case_item p {
    display: block;
    margin-top: 36px;
    margin-bottom: 38px;
}

.opencloud_item4 {
    margin: 44px auto 0 auto;
}

.contacts {
    text-align: left;
    float: left;
    margin-left: 20px;
    width: 200px;
}

.nameProject {
    width: 850px;
    text-align: left;
    margin-left: 280px;
}

.case h3 {
    display: block;
    color: #263244;
    font-weight: 600;
}

.case p {
    display: block;
    color: #6d7682;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contacts a {
    font-size: 20px;
    display: block;
    text-align: center;
    padding-top: 9px;
    width: 203px;
    height: 40px;
    color: white;
    border-radius: 3px;
    background: #63b5ae;
    margin-bottom: 20px;
}

.calculator_container {
    width: 900px;
    height: 600px;
    margin: 0px auto;
}

.calculator {
    width: auto;
}

/* .calculator_container h2 {
    text-align: center;
    font-size: 22px;
    width: 250px;
    margin: 107px auto 0px auto;
    color: #263244;
    font-weight: 550;
} */

.calculator_container h3 {
    text-transform: uppercase;
    text-align: left;
    font-size: 20px;
    color: #263244;
    font-weight: 600;
    margin: 50px auto 0px 15px;
    
}

.select1 {
    width: 850px;
    height: 30px;
    margin: 12px auto 0px 25px;
    background-color: #EEEEEE;
    
}
.days p {
    display: block;
    float: left;
    color: #263244;
    font-weight: 600;
    font-size: 18px;
    
    
    
}
.calculator_footer {
    
    height: 170px;
    float: left;
    margin-top: 25px;    
}

.daysText{
    width: 200px;
    height: 30px;
    padding-left: 20px  ;
    margin-top: 20px;
}

.daysVelue {
    text-align: right;
    display: block;
    margin-left: 641.5px;
    height: 30px;
    width: 30px;
    margin-top: 20px;
}

.statisricContainer {
    width: auto;
    height: 499px;
    background: url(../img/bgstat.png)  center/ 100% 100% no-repeat;
}

.statistic_item {
    text-align: center;
    width: 150px;
    height: 200px;
    float: left;
    margin-top: 90px;
    margin-left: 130px;
    color: #263244;
    font-size: 15px;
}
.statistic_item img {
    padding-top: 20px;
}
.statistic_item h3 {
    display: block;
    margin: 15px;
    color: #263244;
    font-size: 17px;
    font-weight: 600;
}
.reviewsContainer {
    width: auto;
    height: 620px;
    text-align: center;
}

.reviewsContainer img {
    margin-top: 60px;
}

.TextMishi {
    display: block;
    margin-top: 35px;
    color: #263244;
} 

.misha {
    margin-top: 10px;
    color: #263244;
}
.mycontacts {
    background: url(/img/bgcontacts.png) center/cover  no-repeat;
    color: white;
}
.contacts_container>h2{
    color: white;
}
.contacts_container {
    width: auto;
    height: 808px;
    border: 1px solid;
    text-align: center;
}

.contacts_container>p {
    display: block;
    margin-top: 43px;
}

.contacts_data {
    width: 750px;
    height: 400px;
    margin: 0px auto;
    padding-top: 36px;
}

.contacts_data_item {
    width: 140px;
    height: 100px;
    float: left;
    margin-left: 82.5px;
}

.contacts_data p {
    margin-top: 5px;
    font-weight: bold;  
}

.contacts_data>h3{
    display: block;
    margin-top: 20px;
    font-size: 22px;
} 

.contacts_inputs {
    float: left;
    margin-top: 30px;
    padding-left: 82.5px;
}
.input1 {
    float: left;
    width: 220px;
    height: 34px;
    color: #EEEEEE;

}

.input2 {
    float: left;
    width: 220px;
    height: 34px;
    margin-left: 60px;
    color: #EEEEEE;
    
}

.Textarea1 {
    float: left;
    width: 500px;
    height: 94px;
    margin-top: 10px;

}

.input3 {
    color:  #FFFFFF;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    border: 2px solid #F9FAFF;
    background: rgba(0, 0, 0, 0.0001);
}
.contacts_social {
    
    width: auto;
    height: 190px;
}
.ssilka {
    float: left;
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 49px;
    margin-top: 94px;
}

.ssilka1 {
    float: left;
    display: block;
    width: 30px;
    height: 30px;
    margin-left: 414px;
    margin-top: 93px;
}
.footer {
    width: auto;
    height: 90px;
    

}
.footer_container {
    width: auto;
    height: 90px;
    font-size: 18px;
    text-align: center;
    background: #354051;
    padding-top: 36px;
}

.footer_container p {
    display: block;
    color: white; 
}

